{% load static %}
<!doctype html>
<html lang="ES">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Facturacion | {% block head_title %} Inicio {% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Loggin CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
      
  </head>
  <!--*********************Inicia el contenido***********************************************************-->

  <div>
      <div class="container mt-200">
          <div class="row">
              <div class="col justify-content-center">
                      <div class="jumbotron text-md-center pt-4 pb-4" id="boxlogin">
                          <h1 class="display-3 text-lg-center">¡Bienvenido Vendedor!</h1>
                          <hr class="my-2">
                          <form method="POST" name="flogin" id="flogin" >{% csrf_token %}
                            <label class="float-left"><b>Usuario :</b></label>
                            <input type="text" name="cedula" placeholder="Ingrese la cedula" id="cedula" class="form-control"><br>
                            {% if msg %}
                            {{ msg }} <br>
                            {% endif %}
                            <div class="row justify-content-center">
                              <input type="submit" class="btn btn-success pl-4 pr-4 pt-2 pb-2 " value="Iniciar Sesión"><br>
                            </div>
                          </form>
                  </div>         
              </div>
          </div>  
      </div>
  </div>

<!--*********************Finaliza el contenido***********************************************************-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>

  </body>
</html>