<!--{% load static %}-->
<!doctype html>
<html lang="ES">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing | {% block head_title %} Inicio {% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Landing CSS -->
    <link href="{% static '/css/landing.css' %}" rel="stylesheet">


  </head>
<!--*********************Inicia el contenido***********************************************************-->
   <body class="body">
    <div class="container pt-5 pr-4 pl-4 ">
       <div class="row justify-content-around " >
          <div class="col-8 bg-light justify-content-center border">
              <img src="Imagenes/invoice.png" class="img-fluid w-50 ">
              <div class="btn-group btn-group-justified ">
                  <a href="{% url 'Vendedor' %}"><button class="btn btn-md btn-primary ml-4 mr-1 pr-4 pl-3 " type="submit">Vendedor</button></a>
                  <a href="{% url 'Administrador' %}"><button class="btn btn-md  btn-primary" type="submit">Administrador</button></a>
              </div>
              
          </div>
       </div>
      
      
    </div>
            





<!--*********************Finaliza el contenido***********************************************************-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
  </body>
</html>
