#boxmenu{
    border-radius: 10px;
    margin: 5px auto ;
    width: 450px      ;
    height: 330px     ;
    background-color: rgba(173, 255, 136, 0.308);
    box-shadow: 4px 4px rgba(1, 27, 9, 0.534);
}
